<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kailua Car Rental</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>

<body>
<ul>
    <img src="https://i.pinimg.com/originals/0e/24/ff/0e24ff73d8c96d223fdbd7d0c70f944d.jpg" alt="Kailua logo" style="width: 40px; height: 50px; float: left">
    <p id="Header">Kailua Car Rental</p>

    <li><a href="#customers">Customers</a></li>
    <li><a href="#rentals">Rentals</a></li>
    <li class="dropdown">
        <a class="dropbtn">Cars</a>
        <div class="dropdown-content">
            <a href="#">Sport</a>
            <a href="#">Family</a>
            <a href="/luxury">Luxury</a>
        </div>
    </li>
</ul>
<div class="bg-image">

      <form action="#" class="container">
        <h1>Rent a Car</h1>
          <label for="rental_start"><b>rental_start</b></label>
          <input type="text" placeholder="Enter the start date for the rent" name="rental_start" required>
          <label for="rental_end"><b>rental_end</b></label>
          <input type="text" placeholder="Enter the end date for the rent" name="rental_end" required>

          <button type="submit" class="btn">Login</button>
    </form>
</div>




</body>
</html>